body {
    font-family:Arial;
    display:flex;
    align-items:center;
    justify-content:center;
}
.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-self:center;
    border:1px solid grey;
    border-radius:10px;
    padding:5px;
}
.todo-grid,.todo-input-grid {
    display:grid;
    grid-template-columns:200px 150px 100px;
    column-gap:10px;
    row-gap:10px;
    align-items:center;
}
.todo-input-grid{
    margin-bottom:10px;
    align-items:stretch;
}
.name-input,.due-date{
    font-size:15px;
    padding:6px;
}
.add-todo{
    background-color:rgb(21, 204, 21);
    color:white;
    border:none;
    font-size:15px;
    cursor:pointer;
}
.delete-todo{
    background-color:rgb(229, 17, 17);
    color:white;
    border:none;
    font-size: 15px;
    cursor: pointer;
    padding-top:10px;
    padding-bottom:10px;
}