body{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:20%;
}
#color{
    padding:20px;
    color:white;
    background-color:blue;
    border-radius:10px;
    border:none;
    cursor: pointer;
}